%% -*- mode:erlang; -*-
%% Defines listening configuration for web server

[ {macaba, [ {http_port, 8000}

           %% Number of threads listening for incoming connections. Keep this
           %% value high for production server (50-100), 5-10 for debug
           , {http_listeners, 10}
           %% Cluster config contains a list of nodes, each node is Erlang atom
           %% 'nodename@host' in 'single quotes'. First node in list is MASTER,
           %% and is REQUIRED at cluster start time as it does preparations and
           %% caching, master can go crash later without degrading board.
           , {cluster, ['macaba@localhost']}
           %% Count of posts to preview in thread index (always displays first
           %% post and this many last posts)
           , {thread_preview_last_posts, 5}
           %% Thread previews per board page
           , {board_page_size, 10}
          ]}
, {lager, [
           {handlers, [ {lager_console_backend, debug}
                      , {lager_file_backend,
                         [ {"log/error.log", error, 104857600, "$D0", 5}
                         , {"log/console.log", debug, 104857600, "$D0", 5}
                         ]}
                      ]}
          ]}
  %% Distributed database connection library
  ,  {riak_pool,
      [
       %% This param make a hint to pool what cluster should be used when
       %% application:get_env(riak_cluster) return undefined
       {default_cluster, macaba_cluster},
       {clusters,
        [
         %% {ClusterName, KeepAliveOptions, PoolsList}
         {macaba_cluster
          , [ {ping_request_timeout, 1500} % keep alive
            , {rec_timer, [ {value, 200}
                          , {factor, 2}
                          , {incr, 0}
                          , {max_value, 15000}
                          ]}
            ]
          , [ {macaba_pool_srv1, [ {size, 10}
                                 , {max_overflow, 10}
                                 ],
               [ {host, "127.0.0.1"}
               , {port, 8087}
               ]}
            ]} % end macaba_cluster
        ]} % end clusters
      ]} % end riak_pool
].

%%% Local Variables:
%%% erlang-indent-level: 2
%%% End:
