[html]
listen_port = 12000

# Number of threads listening for incoming connections. Keep this
# value high for production server (50-100), 5-10 for debug
listeners = 10

[cluster]
# Cluster config contains a list of nodes, each node is Erlang atom
# 'nodename@host' in 'single quotes'. First node in list is MASTER,
# and is REQUIRED at cluster start time as it does preparations and
# caching, master can go crash later without degrading board.
nodes = [ "macaba@localhost" ]

#===============================================================================
[board]

# Thread previews per board page
page_size = 10
default_anonymous_name = "Anonymous"

#===============================================================================
[board.thread]

# Count of posts to preview in thread index (always displays first
# post and this many last posts)
preview_last_posts = 5
thumbnail_width = 150
thumbnail_height = 150
