%% -*- mode:erlang; -*-
%% Defines listening configuration for web server

[ {macaba, [ {modules, [macaba_http
                       ]}
           , {macaba_http_port, 8000}
           %% Number of threads listening for incoming connections. Keep this
           %% value high for production server, can be like 5-10 for dev
           , {macaba_http_listeners, 10}
          ]}
, {lager, [
           {handlers, [ {lager_console_backend, debug}
                      , {lager_file_backend,
                         [ {"macaba_error.log", error, 104857600, "$D0", 5}
                         , {"macaba_console.log", debug, 104857600, "$D0", 5}
                         ]}
                      ]}
          ]}
].
