%% -*- mode:erlang; -*-
%% Defines listening configuration for web server

[ {macaba, [ {http_port, 8000}

           %% Number of threads listening for incoming connections. Keep this
           %% value high for production server, can be like 5-10 for dev
           , {http_listeners, 10}

           %% Describes configured boards, each board is defined by a property
           %% list of supported attributes:
           %% * {title, "utf8-string"}, {category, "utf8-string"}
           %% rest of attributes are optional, you can access them from HTML
           %% template or code
           , {boards, [ {d, [ {title, "discussions"} ]}
                      , {b, [ {title, "random"} ]}
                      , {fag, [ {title, "faggotry"} ]}
                      , {soc, [ {title, "social"} ]}
                      , {r, [ {title, "requests"} ]}
                      , {cp, [ {title, "copypaste"} ]}
                      , {abu, [ {title, "macaque"} ]}
                      ]}
          ]}
, {lager, [
           {handlers, [ {lager_console_backend, debug}
                      , {lager_file_backend,
                         [ {"macaba_error.log", error, 104857600, "$D0", 5}
                         , {"macaba_console.log", debug, 104857600, "$D0", 5}
                         ]}
                      ]}
          ]}
  %% Distributed database connection library
  ,  {riak_pool,
      [
       %% This param make a hint to pool what cluster should be used when
       %% application:get_env(riak_cluster) return undefined
       {default_cluster, macaba_cluster},
       {clusters,
        [
         %% {ClusterName, KeepAliveOptions, PoolsList}
         {macaba_cluster
          , [ {ping_request_timeout, 1500} % keep alive
            , {rec_timer, [ {value, 200}
                          , {factor, 2}
                          , {incr, 0}
                          , {max_value, 15000}
                          ]}
            ]
          , [ {macaba_pool_srv1, [ {size, 10}
                                 , {max_overflow, 10}
                                 ],
               [ {host, "127.0.0.1"}
               , {port, 8087}
               ]}
            ]} % end macaba_cluster
        ]} % end clusters
      ]} % end riak_pool
].

%%% Local Variables:
%%% erlang-indent-level: 2
%%% End:
