%% -*- mode: erlang; -*-
{erl_opts, [ native
           ]}.

{sub_dirs, [ "apps/macaba" ]}.
{deps_dir, "deps"}.
{lib_dirs, [ "apps", "deps" ]}.

{deps, [ {cowboy,    ".*", {git, "git://github.com/extend/cowboy.git",            "master"}}
       , {ranch,     ".*", {git, "git://github.com/extend/ranch.git",             "master"}}
%       , {riakc,     ".*", {git, "git://github.com/basho/riak-erlang-client.git", "master"}}
%       , {riakpool,  ".*", {git, "git://github.com/dweldon/riakpool.git",         "master"}}
       , {riak_pool, ".*", {git, "git@github.com:unisontech/uriak_pool.git",      "master"}}
       , {gproc,     ".*", {git, "git://github.com/uwiger/gproc.git",             "master"}}
       , {lager,     ".*", {git, "git://github.com/basho/lager.git",              "master"}}
       , {erlydtl,   ".*", {git, "git://github.com/evanmiller/erlydtl.git",       "master"}}
       , {gen_leader, ".*", {git, "https://github.com/garret-smith/gen_leader_revival.git", "HEAD"}}
       ]}.
