%% -*- mode: erlang; -*-
{erl_opts, [ debug_info ]}.

{sub_dirs, [ "apps/macaba" ]}.
{deps_dir, "deps"}.
{lib_dirs, [ "apps", "deps" ]}.
{cover_enabled, true}.

{deps, [ %% just to fix check out on anonymous fresh machine, which instead
         %% tries to go SSH git@github.com
         {meck, ".*", {git, "git://github.com/unisontech/meck.git"}}

       , {cowboy, ".*",
          {git, "git://github.com/extend/cowboy.git", "master"}}
       , {ranch, ".*",
          {git, "git://github.com/extend/ranch.git", "master"}}
       , {riak_pool, ".*",
          {git, "git://github.com/unisontech/uriak_pool.git", "master"}}
       , {gproc, ".*",
          {git, "git://github.com/uwiger/gproc.git", "master"}}
       , {lager, ".*",
          {git, "git://github.com/basho/lager.git", "master"}}
       , {erlydtl, ".*",
          {git, "git://github.com/evanmiller/erlydtl.git", "master"}}
       , {gen_leader, ".*",
          {git, "git://github.com/garret-smith/gen_leader_revival.git",
           "master"}}
       , {etoml, ".*", {git, "git://github.com/kalta/etoml.git", "master"}}
       , {eim, ".*", {git, "git://github.com/mokele/eim.git", "master"}}
       , {lhttpc, ".*", {git, "git://github.com/esl/lhttpc.git", "master"}}
       , {erlmarkdown, ".*",
          {git, "git://github.com/kvakvs/erlmarkdown.git", "master"}}
       , {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}}
       ]}.
