%% -*- mode: erlang; -*-
{erl_opts, [ debug_info ]}.

{sub_dirs, [ "apps/macaba", "apps/mcweb" ]}.
{deps_dir, "deps"}.
{lib_dirs, [ "apps", "deps" ]}.
{cover_enabled, true}.

{deps, [ %% just to fix checkout problem on anonymous fresh machine, which instead
         %% tries to go SSH git@github.com and fails with publickey
         {meck, ".*", {git, "git://github.com/unisontech/meck.git"}}
       , {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}}
       , {lhttpc, ".*", {git, "git://github.com/esl/lhttpc.git", "master"}}
       ]}.
