form.newpost {
    border: 1px solid silver;
    border-radius: 10px;
    padding: 8px;
}

.post {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
}
.oppost {
    background: white;
    border: 0px;
}

textarea.postmsg {
    width: 75%;
}

/* post display block */
td.msg blockquote {
   text-color: #4C4;
}

td.msg code {
    border: 1px solid silver;
    background: #eed;
    padding: 2px;
    font-family: monospace;
}
td.msg pre {
    border: 1px solid silver;
    background: #eed;
    padding: 2px;
    font-family: monospace;
}

/* Sections of a post */
.post .title {
    font-weight: bold;
}
.post .author {
}
.post .name {
}
.post td.msg {
    margin-left: 16px;
    vertical-align: top;
}

hr {
    border-color: #bbb;
    border-style: solid none none;
    border-width: 1px;
}

/* bottom bar with delete/report buttons */
div.reportbar {
    text-align: right;
}

/* framed message inside post to indicate file was deleted */
div.filedeleted {
    border: 1px solid gray;
    padding: 8px;
}

/* bottom div with board engine name and link */
div.macaba-branding {
    padding-top: 96px;
    text-align: right;
    font-size: 9pt;
    color: #aaa;
}
div.macaba-branding a {
    color: #88c;
    text-decoration: underline;
}