.oppost {
}
.post {
    background: none repeat scroll 0 0 #eee;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    margin: 0;
    padding: 0;
}
textarea.postmsg {
    width: 100%;
}

div.oppost {
    background: white;
    border: 0px;
}
/* Sections of a post */
.post .title {
    font-weight: bold;
}
.post .author {
}
.post .name {
}
.post .msg {
    margin-left: 16px;
}

hr {
    border-color: #bbb;
    border-style: solid none none;
    border-width: 1px;
}
