form.framedform {
    border: 1px solid silver;
    border-radius: 10px;
    padding: 8px;
}

.post {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
}
.oppost {
    background: white;
    border: 0px;
}

textarea.postmsg {
    width: 75%;
}

/* post display block */
.msg blockquote {
   color: #484;
   margin-top: 0;
   margin-bottom: 0;
}
.msg code {
    border: 1px solid silver;
    background: #eed;
    padding: 2px;
    font-family: monospace;
}
.msg pre {
    border: 1px solid silver;
    background: #eed;
    padding: 2px;
    font-family: monospace;
}

/* Sections of a post */
.post .title {
    font-weight: bold;
}
.post .author {
}
.post .name {
}
.post td.msg {
    margin-left: 16px;
    vertical-align: top;
}

hr {
    border-color: #bbb;
    border-style: solid none none;
    border-width: 1px;
}

/* bottom bar with delete/report buttons */
div.reportbar {
    text-align: right;
}

/* framed message inside post to indicate file was deleted */
div.filedeleted {
    border: 1px solid gray;
    padding: 8px;
}

/* bottom div with board engine name and link */
div.macaba-branding {
    padding-top: 96px;
    text-align: right;
    font-size: 9pt;
    color: #aaa;
}
div.macaba-branding a {
    color: #88c;
    text-decoration: underline;
}

div.popupdiv {
  display: none;
  /*position: absolute;
  width: 600px;
  height: 200px;*/
  padding: 8px;
  margin: 8px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
}

/* admin and mod links */
a.mod {
  color: #44f;
  border: 1px solid #88f;
  background: #ffc;
  padding-left: 6px;
  padding-right: 6px;
}

a.admin {
  color: #c00;
  border: 1px solid #f88;
  background: #ffc;
  padding-left: 6px;
  padding-right: 6px;
}

span.spoiler {
  background: #bbb;
  color: #bbb;
}
span.spoiler:hover {
  color: #fff;
}


/*
Local Variables:
erlang-indent-level: 2
End:
*/