{% comment %}---------------------------------------------------------
| Displays new-post or new-thread form with help and preview
------------------------------------------------------{% endcomment %}
<div class="row">
  <div class="span8">

<form method="post" class="form-inline framedform" enctype="multipart/form-data"
      name="postform"
      action="/board/{{ board_info.board_id }}/{% if thread_id == "new" %}thread{% else %}post{% endif %}/new">
  {% if thread_id == "new" %}
  <h4>Create new thread</h4>
  {% else %}
  <h4>Reply to thread</h4>
  {% endif %}

  <input type="hidden" name="thread_id" value="{{ thread_id }}">
  <label>Name</label>
  <input type="text" name="author" size="30" />
  <label>Email (or "sage")</label>
  <input type="text" name="email" size="50" class="input-small" />
  <label>Delete password</label>
  <input type="text" name="deletepw" size="30" class="input-small" /><br/>

  <label>Subject</label>
  <input type="text" name="subject" size="40" />
  <input type="submit" value="{% if thread_id == "new" %}New thread{% else %}Post reply{% endif %}"
         class="btn btn-primary" />

  <input type="button" value="Preview" class="btn btn-small btn-info" onclick="preview_show()" />
  <br/>
  <div id="preview-popup" class="popupdiv">
    <small><i class="icon-search"></i> Preview, click to close</small><br/>
    <hr style="margin:0" />
    <div id="preview-content" class="msg"></div>
  </div> <!-- end preview -->

<script>
$(function() {
  $("div#preview-popup").click(function() {
      $("div#preview-popup").hide();
      });
});
</script>

  <textarea id="message" name="message" rows="4" cols="80" class="input-block-level"></textarea><br/>

  <label>Attach</label>
  <input type="file" name="attach" size="40" />
  <!--label>Captcha</label>
      <input type="text" name="captcha" size="20" /-->
</form> <!-- end post form -->

  </div> <!-- end post span -->

  <div class="span4">
    <h4>Markup help</h4>
    <p>Supported WakabaMark features: **<strong>bold</strong>**
      __<strong>bold</strong>__ *<em>italic</em>* _<em>italic</em>_
      `<code>inline code</code>`, insert `` for backquotes,
      URL
      highlighting, ordered lists with <code>1.&nbsp;</code>, unordered lists
      with <code>*&nbsp;</code> and <code>-&nbsp;</code>,
      quoting text with <code>&gt;&nbsp;</code>, code blocks with 4+ spaces.</p>
    <p>Supported BBCode features: [b]<strong>bold</strong>[/b]
      [i]<em>italic</em>[/i] [s]<s>overstrike</s>[/s]
      [co]<code>inline code</code>[/co], [code]preformatted code block[/code],
      [url]URL[/url], <span class="spoiler">[spoiler][/spoiler]</span>.</p>
    <p>When not sure - use <span class="label label-info">preview</span>!</p>
  </div> <!-- end help span -->
</div><!-- end row -->
