{% comment %}-------------------------------------------------------------------
| Userbar displays current user name, role, and toolbar with actions
----------------------------------------------------------------{% endcomment %}
{% if user.type != "anon" %}
<div class="userbar">
  Authenticated as {{user.name}} (<strong>{{user.type}}</strong>)
  &bull;
  <a href="/admin/reported" class="mod">Reported</a>
  <a href="/admin/appeal" class="mod">Bans</a>
  <a href="/admin/ban" class="mod">Appeals</a>
{% endif %}

{% if user.type == "mod" %}
{% endif %}

{% if user.type == "admin" %}
  <a href="/admin/blacklist" class="admin">Blacklist content</a>
  <a href="/admin/site" class="admin">Edit Site</a>
  <a href="/admin/boards" class="admin">Edit Boards</a>
{% endif %}

{% if user.type != "anon" %}
  <a href="/admin/logout" class="mod">Logout</a>
</div> <!-- end userbar -->
{% endif %}
