%%======================================
%% etc/app.config
%%======================================
%%=== riak core config ===
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "3098"}.
{handoff_port,          "3099"}.

%%=== logging config ===
{lager_log_limit_mb,    "100"}.

%%======================================
%% etc/vm.args
%%======================================
{node,                  "macaba@127.0.0.1"}.
{cookie,                "maCAba"}.
