%% -*- mode: erlang; -*-
{erl_opts, [ % native
           debug_info
           , {parse_transform, lager_transform}
           ]}.

{sub_dirs, [ ]}.
{deps_dir, "../../deps"}.
{lib_dirs, [ "..", "../../deps" ]}.

{deps, [ {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}}
       , {eim, ".*", {git, "git://github.com/kvakvs/macaba-eim.git", "master"}}
       , {erlcloud, ".*", {git, "git://github.com/gleber/erlcloud.git", "master"}}
       ]}.
