<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>macaba{% if title %}: {{title}}{% endif %}</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="/css/macaba.css" />

	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>{% comment %}
+-------------------------------------------------------------------------------
|--- Local JQuery copy
| <script src="/js/jquery-1.9.1.min.js"></script>
|
|--- You can use different CDN to deliver JQuery to your users:
| <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
| <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
| <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
+---------------------------------------------------------------{% endcomment %}
	<script src="/js/macaba.js"></script>
  </head>

  <body>
    <div style="background:#ffd;color:red;border:1px solid black">
      The board is in demo mode and resets database fully every 15 minutes
    </div>

    <div class="container">
{% if user %}{% include "user_bar.html" %}{% endif %}
{% if boards %}{% include "navigation_bar.html" %}{% endif %}
<hr />
