{% comment %}-------------------------------------------------------------------
| Admin panel to include in every post, contains deleting, banning options
| params:
|    p - post
|    board_info
|    p.ident - user identification for this post, contains ip (string and numeric
|              in ip_num), proxy_ip (string and numeric in proxy_ip_num),
|              user_agent, accept headers
----------------------------------------------------------------{% endcomment %}
<div class="post_admin">
  <input type="checkbox" id="admin_delete_{{p.post_id}}" />Delete post {% if forloop.counter == 1 %}and thread{% endif %}
  <input type="checkbox" id="admin_deletefile_{{p.post_id}}" />Delete file
  <input type="checkbox" id="admin_search_{{p.post_id}}" />All posts of this user
  <input type="checkbox" id="admin_ban_{{p.post_id}}" />Ban
  <input type="text" id="admin_ban_{{p.post_id}}" class="input-small" placeholder="Reason" />
  for <select id="admin_ban_duration_{{p.post_id}}" class="input-small">
    <option value="3600">1 hour</option>
    <option value="10800">3 hours</option>
    <option value="43200">12 hours</option>
    <option value="86400">1 day</option>
    <option value="259200">3 days</option>
    <option value="604800">7 days</option>
    <option value="2592000">1 month</option>
    <option value="7776000">3 months</option>
    <option value="31104000">1 year</option>
  </select>
  {% if p.attach_info %}
  <input type="checkbox" id="admin_delete_file_{{p.post_id}}" /><i class="icon-picture"></i> Delete file
  {% endif %}
  <button onclick="admin_manage_post('{{board_info.board_id}}', '{{p.post_id}}');"
          class="btn btn-warning">Go</button>

  IP <span class="label">{{p.ident.ip}}{% if p.ident.proxy_ip %} proxy
    {{p.ident.proxy_ip}}{% endif %}</span>
</div>

<div id="admin_{{p.post_id}}" style="display:none"></div>
